:root{
    --cor-de-fundo:#09076d;
    --verde:#6FFF57;
    --branco:#FFFFFF;
    --botao-ativo:#3A375E;
    --botao-inativo:rgba(58, 55, 94, 0.3);
    --texto-fundo:rgb(255, 255, 255);
}

body{
    background-color: var(--cor-de-fundo);
    --color:var(--branco)
    font-family: "Chakra Petch", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #5F0F40;
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-título {
    color: #FA725A;
    font-size: 48px;
}

.custom-text {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
   
}
